@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic');
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: 'ProximaNova_bold', sans-serif;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
img {
  max-width: 100%;
}
.button {
  background-color: #fcb303;
  font-family: 'ProximaNova_reg', sans-serif;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.2s ease;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
section {
  padding: 10rem 0 ;
}
.main {
  background-color: #fff;
  background-image: url(../images/main-bg-3.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.main-content {
  padding-top: 10rem;
}
.main-content h1.main-title__heading {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  line-height: 1.45;
}
.main-content span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}
.main-content span strong {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.main-trigger {
  margin-top: 3rem;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  background-color: #fff;
  padding: 3rem 4rem;
  text-align: center;
}
.main-form h1.main-form-heading {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}
.main-form h1.main-form-heading strong {
  font-size: 1.4rem;
}
.main-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.7rem;
  margin: 2rem 0;
  border-radius: 5px;
}
.main-form label {
  font-family: 'ProximaNova_bold', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.wrap {
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.header {
  height: 7rem;
}
.header .phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  line-height: 7rem;
  color: #1a1820;
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .logo img {
  width: 70px;
  height: 70px;
}
.header .logo .logotype-text {
  font-size: 2rem;
  margin-left: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .logo .logotype-text span:nth-child(1) {
  color: #1a1820;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5px;
}
.header .logo .logotype-text span:nth-child(2) {
  color: #1a1820;
  font-weight: normal;
}
.price {
  background-color: #348a0f;
}
.price-block {
  margin-top: 3rem;
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  max-height: 100%;
  background-color: #fff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
  height: 20rem;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.price-list li::before {
  content: "✔";
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  color: #46b814;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-button {
  text-align: right;
}
.price-header {
  text-align: center;
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  color: #fff;
}
.price-header p {
  color: #fff;
  font-size: 1.4rem;
}
.feedback {
  background-color: #f5f5f5;
  background-image: url(../images/feedback/feedback-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.feedback-header h2 {
  margin-bottom: 6rem;
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  font-style: italic;
  border: 2px solid #46b814;
}
.feedback-text::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.97rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 10rem;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #fff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.7rem;
  margin: 2rem 0;
  border-radius: 5px;
}
.feedback-form label {
  font-family: 'ProximaNova_bold', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(8px);
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.feedback-form-btn {
  display: inline-block;
  height: 5.5rem;
  max-width: 40rem;
  width: 100%;
  font-size: 1.6rem;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #fff;
  box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.11);
}
.feedback-slider_item p {
  font-size: 1.6rem;
}
.feedback-slider_item .avatar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 22rem;
  font-size: 1.4rem;
}
.feedback-slider_item .avatar h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider_item .avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  z-index: 2000000;
}
.feedback-slider-btn i {
  color: #fff;
  font-weight: 900;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  border: 1px solid #46b814;
  border-radius: 50%;
  padding: 1rem;
  background-color: #46b814;
}
.feedback-slider-btn i:hover {
  color: #e6e6e6;
}
.feedback-slider-btn_prev {
  left: -2rem;
}
.feedback-slider-btn_next {
  right: -2rem;
}
.scheme {
  background-color: #f5f5f5;
}
.scheme-header {
  text-align: center;
  margin-bottom: 6rem;
}
.scheme-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.scheme-block img {
  height: 10rem;
}
.all-inclusived {
  background-color: #f5f5f5;
}
.all-inclusived-header {
  text-align: center;
  margin-bottom: 6rem;
}
.all-inclusived-header h2 {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #348a0f;
}
.all-inclusived-block {
  height: 7rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.all-inclusived-block_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}
.all-inclusived-block_text h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}
.all-inclusived-block_text p {
  margin: 0;
  font-size: 1rem;
}
.all-inclusived-block_icons .icons-border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid #46b814;
  border-radius: 50%;
}
.all-inclusived-block_icons .icons-border span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #348a0f;
  border-radius: 50%;
  color: #fff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.problems {
  position: relative;
}
.problems-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30rem;
  margin-left: -19rem;
}
.problems-header {
  text-align: center;
  margin-bottom: 6rem;
}
.problems-header h2 {
  font-size: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 35rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  list-style: none;
  padding-top: 2rem;
  padding-left: 0;
}
.problems-list ul li {
  margin-bottom: 3rem;
  position: relative;
  padding-left: 3.5rem;
}
.problems-list ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 2.5rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li::before {
  content: "✘";
  color: #ff0000;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li::before {
  content: "✔";
  color: #46b814;
}
.materials {
  background-color: #fff;
}
.materials-header {
  margin-bottom: 6rem;
  text-align: center;
}
.materials-header h2 {
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.materials-slider {
  text-align: center;
}
.materials-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  border: none;
  background-color: transparent;
}
.materials-arrow i {
  color: #fff;
  font-weight: 900;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  border: 1px solid #46b814;
  border-radius: 50%;
  padding: 1rem;
  background-color: #46b814;
}
.materials-arrow i:hover {
  color: #e6e6e6;
}
.materials-arrow-prev {
  left: 0;
}
.materials-arrow-next {
  right: 0;
}
.materials-block img {
  display: block;
  margin: 0 auto;
  height: 17rem;
}
.materials-block h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.materials-link {
  text-decoration: none;
  color: #46b814;
  border-bottom: 1px dashed #46b814;
  transition: color 0.3s ease;
}
.materials-link:hover {
  color: #348a0f;
  text-decoration: none;
}
.tour {
  background-color: #f5f5f5;
  background-image: url(../images/tours-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding-top: 0;
}
.tour-subtitle {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.tour-form h1.tour-form-heading {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.uppsell {
  background-color: #286d0a;
}
.uppsell-header {
  text-align: center;
  margin-bottom: 5rem;
}
.uppsell-header h2 {
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #fff;
}
.uppsell-header p {
  color: #fff;
  font-size: 2rem;
}
.uppsell-block {
  margin-bottom: 2rem;
  text-align: center;
  min-height: 20rem;
}
.uppsell-block img {
  width: 100%;
  max-width: 30rem;
}
.uppsell-block p {
  margin: 2rem 0;
  font-size: 2rem;
  color: #fff;
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts {
  background: url(../images/feedback/feedback-bg.jpg) center center no-repeat;
  background-size: cover;
}
.contacts h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.contacts .map {
  margin-bottom: 1rem;
}
.contacts-link {
  display: inline-block;
  color: #1a1820;
  border-bottom: 1px dashed #1a1820;
  transition: color 0.3s ease;
}
.contacts-link:hover {
  color: #020203;
  text-decoration: none;
}
.contacts-form h1.contacts-form-heading {
  font-size: 1.8rem;
  font-family: 'ProximaNova_reg', sans-serif;
}
.contacts-form-textarea {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.7rem;
  margin: 2rem 0;
  border-radius: 5px;
}
footer {
  padding: 4rem 0;
  background-color: #f5f5f5;
}
footer .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .logo img {
  width: 70px;
  height: 70px;
}
footer .logo .logotype-text {
  font-size: 2rem;
  margin-left: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer .logo .logotype-text span:nth-child(1) {
  color: #1a1820;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5px;
}
footer .logo .logotype-text span:nth-child(2) {
  color: #1a1820;
  font-weight: normal;
}
footer .footer-phone {
  text-align: center;
}
footer .footer-phone p {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
footer .footer-phone a {
  display: inline-block;
  color: #1a1820;
  border-bottom: 1px dashed #1a1820;
  transition: color 0.3s ease;
}
footer .footer-phone a:hover {
  color: #020203;
  text-decoration: none;
}
footer .footer-icons {
  text-align: center;
}
footer .footer-icons i {
  color: #fff;
  font-size: 2.5rem;
  background-color: #46b814;
  padding: 1.5rem;
  border-radius: 50%;
}
.features {
  padding: 10rem 0;
}
.features .prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.features .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  border: none;
  background-color: transparent;
}
.features .arrow i {
  color: #46b814;
  font-weight: 900;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}
.features .arrow i:hover {
  color: #348a0f;
}
.features .next {
  right: 0;
}
.features .prev {
  left: 0;
}
.features-header {
  text-align: center;
  margin: 2rem 0 10rem 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem ;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 85%;
  background-color: #fff;
}
.modal-overflay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
.modal-form {
  margin-top: 3rem;
  padding: 0;
}
.modal-close {
  cursor: pointer;
  position: absolute;
  top: -3rem;
  right: -1.5rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 5rem;
  color: #fff;
}
.modal-content {
  text-align: center;
  padding: 4rem 6rem;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .main {
    background-position: 20% center;
  }
  .main .header .logo {
    justify-content: center;
  }
  .main .header .phone-link {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .main .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .scheme {
    text-align: center;
  }
  .scheme-block {
    height: auto;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-girl {
    display: none;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .price-block {
    min-height: 62rem;
  }
  .price-button {
    text-align: center;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback-form label {
    transform: translate(-50%, 8px);
  }
}
@media (max-width: 767px) {
  .tour {
    background-image: none;
  }
  .tour-title {
    text-align: center;
  }
  .tour-subtitle {
    font-size: 1.8rem;
  }
  footer .footer-phone {
    margin-bottom: 2rem;
  }
  footer .logo {
    justify-content: center;
    margin-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  html,
  body {
    overflow-x: hidden;
  }
  .main .header .logo {
    justify-content: center;
  }
  .main .header .phone-link {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .main h1.main-title__heading {
    font-size: 2rem;
  }
  .modal-content {
    padding: 1rem 2rem;
  }
  .feedback-slider_item .fotorama img {
    height: auto;
  }
  .feedback-slider-btn_prev {
    left: 0rem;
  }
  .feedback-slider-btn_next {
    right: 0rem;
  }
  .all-inclusived-block_text h3 {
    font-size: 1rem;
  }
}
