@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic');

// Fonts Family
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
      url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
      url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
      url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.reg(){
  font-family: 'ProximaNova_reg', sans-serif;
}
.bold{
  font-family: 'ProximaNova_bold', sans-serif;
}
// colors
@btn-color: #fcb303;
@icons-color: #46b814;
@text-color: #1a1820;
@danger:#ff0000;
@bg-light:#f5f5f5;
@light: #fff;
@border-input:#dddddd;

// Basic settings
html{
  font-size: 10px;
}
body{
  .reg();
}
img{
  max-width: 100%;
}
.button{
   background-color: @btn-color;
   .reg();
   padding:1rem 3rem;
   border-radius:8px;
   text-transform: uppercase;
   border:none;
   font-size: 1.2rem;
   color:@light;
   transition:all 0.2s ease;
   &:hover{
     cursor:pointet;
     background-color:darken(@btn-color, 5%);
   }
}
button,input,a{
  &:focus{
    outline:none;
  }
}
// Typograhy
section{
  padding:10rem 0 ;
}




// main
.main{
  background-color: #fff;
  background-image: url(../images/main-bg-3.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size:cover;
  padding-top:3rem;
  padding-bottom: 3rem;
  // main-content
  &-content{
    padding-top:10rem;
    h1.main-title__heading{
      margin-top: 0;
      margin-bottom:3rem;
      font-size:3rem;
      text-transform: uppercase;
      .bold();
      line-height: 1.45;
    }
    span{
      display: inline-block;
      padding: 3rem 5rem;
      background-color:@icons-color;
      font-size: 1.8rem;
      color:@light;
      text-align:center;
      strong{
        font-size: 2rem;
        .bold();
      }
    }
  }
  &-subtitle{
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  // оплата по фатку
  &-trigger{
    margin-top:3rem;
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    .bold();
  }
  // main-form главная  форма
  &-form{
    background-color: @light;
   padding:3rem 4rem;
   text-align: center;
  // заголок формы
  h1.main-form-heading{
    font-size: 1.3rem;
    margin-bottom:4rem;
    strong{
      font-size: 1.4rem;
    }
  }
  &-input{
    display: block;
    width:100%;
    border:1px solid @border-input;
    padding:1.7rem;
    margin: 2rem 0;
  }
  // label
  label{
    .bold();
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: @light;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
  // button submit
  &-btn{
    display: block;
    height:5.5rem;
    width: 100%;
    font-size:1.6rem;
  }
  // small
  small{
    display: block;
    margin-top:1.5rem;
  }
  }
}

.wrap{
  display: table;
  height: 7rem;
  width:100%;
  &-block{
    display: table-cell;
    vertical-align: middle;
  }
}
.header{
   height: 7rem;;
  .phone-link{
    display:inline-block;
    .bold();
    font-size:2rem;
    text-decoration:none;
    line-height: 7rem;
    color: @text-color;
  }
  .logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    img{
      width: 70px;
      height:70px;
    }
    .logotype-text{
      margin-left:20px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      span{
        &:nth-child(1){
          color:@text-color;
          text-transform: uppercase;
          font-weight: 900;
          margin-bottom:5px;
        }
        &:nth-child(2){
          color:@text-color;
          font-weight: normal;
        }
      }
    }
  }
}
// slick slider styles
   .features{
     padding:10rem 0;
     .prev{
       position: absolute;
       top:50%;
       left: 0;
       transform:  translateY(-50%);
     }
     .arrow{
      position: absolute;
      top:50%;
      transform:  translateY(-50%);
      z-index: 9999;
      border:none;
      background-color: transparent;
      i{
        color: @icons-color;
        font-weight: 900;
        font-size: 2.5rem;
        transition:all 0.3s ease;
        &:hover{
          color:darken(@icons-color,10%);
        }
      }
     }
     .next{
      right:0;
     }
     .prev{
       left:0;
     }
    &-header{
       text-align: center;
       margin:2rem 0 10rem 0;
       .bold();
       font-size:3.6rem ;
     }
     &-block{
      text-align: center;
      h3{
        font-size: 2rem;
        .bold();
        margin-bottom:3rem;
      }
      p{
        display: inline-block;
        width: 80%;
        font-size: 1.4rem;
        
      }
     }
     &-img{
        height: 8rem;
        margin-bottom:3rem;
       img{
         margin: 0 auto;
       }
     }
   }
   .slick-active{
     outline:none;
   }
// media
@media(max-width:767px){
    body{
      overflow-x: hidden;
    }
    .main{
      background-position: 20% center;
      .main-title{
        text-align:center;
        padding-bottom:3rem;
      }
    }
   
}