@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic,cyrillic-ext');
.main-gallary {
  height: 12rem;
  background: url(../img/gallary-bg.jpg) top center repeat;
  position: relative;
  padding: 0;
}
.main-gallary P {
  position: absolute;
  bottom: 0;
  left: 5rem;
  width: 15%;
  background: #FDFBEC;
  padding: 0.5rem;
  margin: 0;
}
.main-gallary P span {
  display: inline-block;
  margin: 0 1rem;
  color: #47C2D1;
  font-weight: 700;
}
.main-gallary P a {
  color: #47C2D1;
  font-size: 1rem;
  display: inline-block;
}
.main-gallary P a.this {
  font-weight: 900;
}
.gallary {
  text-align: center;
  min-height: 100vh;
}
.gallary-heading {
  margin: 3rem 0;
  color: #E86A46;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.gallary-buttuns {
  margin-bottom: 2rem;
}
.gallary-buttuns button {
  color: #E86A46;
  border: none;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  background: transparent;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s ease;
}
.gallary-buttuns button:hover {
  color: #df471c;
  text-decoration: underline;
}
.gallary .photo {
  position: relative;
  height: 15rem;
  margin: 0 0 2rem 0;
}
.gallary .photo:hover .magnifiter {
  opacity: 1;
  transition: all 0.3s ease;
}
.gallary .photo:hover img {
  border-color: #E86A46;
}
.gallary .photo img {
  border: 7px solid #E5E3BE;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.gallary .photo img:hover {
  border-color: #E86A46;
}
.gallary .photo .magnifiter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.gallary .photo .magnifiter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -25;
  border-radius: 0.3rem;
}
.gallary .photo .magnifiter i {
  font-size: 2.5rem;
  color: #FDFBEC;
}
.modal-fotorama {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #000000;
  z-index: 2200;
  border: 4px solid rgba(71, 194, 209, 0.8);
  text-align: center;
}
.modal-fotorama h2 {
  margin: 0;
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FDFBEC;
}
.modal-fotorama .fotorama-close {
  position: absolute;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  width: 2rem;
  height: 2rem;
  background: #FDFBEC;
  color: #333;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}
.modal-fotorama .fotorama-close:hover {
  background-color: #2ea8b7;
}
.fotorama-overlow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2100;
  background-color: #000;
  opacity: 0.6;
}
@media (max-width: 1250px) {
  .main-gallary p {
    width: 20%;
  }
}
@media (max-width: 960px) {
  .main-gallary p {
    width: 25%;
  }
}
@media (max-width: 765px) {
  .main-gallary p {
    width: 30%;
  }
}
@media (max-width: 650px) {
  .main-gallary p {
    width: 35%;
  }
}
@media (max-width: 550px) {
  .main-gallary p {
    width: 57%;
  }
  .gallary-heading {
    font-size: 1.5rem;
  }
  .gallary-buttuns {
    display: flex;
    flex-flow: column;
  }
  .gallary-buttuns button {
    margin-bottom: 1rem;
  }
  .modal-fotorama {
    max-width: 95%;
  }
}
