//fonts 
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap&subset=cyrillic-ext');

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/BigNoodleTitlingRUSbyDaymarius.eot');
    src: url('../fonts/BigNoodleTitlingRUSbyDaymarius.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigNoodleTitlingRUSbyDaymarius.woff2') format('woff2'),
        url('../fonts/BigNoodleTitlingRUSbyDaymarius.woff') format('woff'),
        url('../fonts/BigNoodleTitlingRUSbyDaymarius.ttf') format('truetype'),
        url('../fonts/BigNoodleTitlingRUSbyDaymarius.svg#BigNoodleTitlingRUSbyDaymarius') format('svg');
    font-weight: normal;
    font-style: normal;
}

// settings
.reg(){
    font-family: 'BigNoodleTitling','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bold(){
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@text-color:#4d4140;
@bg-light:#ffffff;
@menu-color:#322e31;
@menu-link-color:#f3724d;
@dark-color:#000;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    font-size: 15px;
}
body{
    height: 2000px;
    overflow-x: hidden;
    .reg();
}

// Стили для header
.header{
    background-color: @bg-light;
    position: relative;
    height: 100vh;
    &-navbar{
        padding: 2rem 0;
        transition: all 0.7s ease;
        position: relative;
        z-index: 5;
        &:before{
            content: '';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background-color:#f8f6f6;
            z-index: -1;
            opacity: 1;
        }
        &_logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span{
                font-size: 2.5rem;
                text-transform: uppercase;
                margin-left: 0.5rem;
                display:inline-block;
            }
        }
        // стили для burger меню
        .burg{
            width:3rem;
            height: 3rem;
            background-color: @bg-light;
            position: relative;
            cursor: pointer;
            .icon{
                position:absolute;
                top:50%;
                left: 50%;
                margin-top:-0.1rem;
                margin-left: -0.99rem;
                display: block;
                width: 2rem;
                height: 0.2rem;
                background-color: #000;
                transition:all 0.3s ease-in-out;
                &::before{
                    content: '';
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top:-0.1rem;
                    margin-left: -0.99rem;
                    display: block;
                    width: 2rem;
                    height: 0.2rem;
                    background-color: #000;
                    transform: translateY(-5px);
                    transition:all 0.3s ease-in-out;
                }
                &::after{
                    content: '';
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top:-0.1rem;
                    margin-left: -0.99rem;
                    display: block;
                    width: 2rem;
                    height: 0.2rem;
                    background-color: #000;
                    transform: translateY(5px);
                    transition:all 0.3s ease-in-out;
                }
            }
        }
        .burg.active{
            .icon{
                height: 0;
                &::before{
                    transform: rotate(45deg);
                }
                &::after{
                    transform: rotate(-45deg);
                }
            }
        }
        &_menu{
            position: absolute;
            left:0;
            width:100%;
            padding:1rem 0;
            background-color:@menu-color;
            a{
                display: inline-block;
                background-color: @menu-link-color;
                padding: 0.3rem 0.5rem;
                border-radius: 0.3rem;
                color:@bg-light;
                transition: all 0.5s ease;
                font-size: 1.2rem;
                &:hover{
                    text-decoration: none;
                    transform: translateY(-3px);
                    background-color: darken(@menu-link-color,10%);
                    box-shadow: 5px 5px 20px darken(@menu-link-color,5%);
                }
                &:active{
                    text-decoration: none;
                }
            }
        }
    }
    // header-content
    &-content{
        text-align: center;
        &-slider{
            .bg-1{
                background-image: url(../img/header-bg1.jpg);
            }
            .bg-2{
                background-image: url(../img/header-bg2.jpg);
            }
            .bg-3{
                background-image: url(../img/header-bg3.jpg);
            }
            .slider-block{
                position: relative;
                background-position: center center;
                background-size: cover;
                height: 100vh;
                display: flex;
                flex-flow: column wrap;
                justify-content:center;
                align-items:center;
                z-index: 20;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right: 0;
                    width:100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.5;
                    z-index: -2;
                }
                h1{
                    font-size: 4rem;
                    color:#d6c9c9;
                }
                h3{
                    font-size: 3rem;
                    color:#d6c9c9;
                }
            }
            .slick-active, .slick-slide{
                outline: none;
            }
        }
    }
    &-btn{
        position: absolute;
        top:50%;
        transform: translate(-50%, -50%);
        z-index:300;
        color:@dark-color;
        font-size: 5rem;
        background-color:transparent;
        border:none;
        transition:color 0.3s ease;
        &:hover{
            color:darken(@dark-color,10%);
        }
        &:focus{
            color:@dark-color;
            outline:none;
        }
        &-prev{
            left:1.6rem;
        }
        &-next{
            right:0;
        }
       }
}
.header-navbar.fixed{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding:0.5rem 0;
}
