@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic,cyrillic-ext');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  overflow-x: hidden;
  height: 2000px;
  background: #FDFBEC;
}
img {
  width: 100%;
  height: 100%;
}
.header {
  padding: 0.5rem 0 0 0;
  background-color: #F6F5E2;
  border-bottom: 5px solid #E86A46;
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  lefT: 0;
  z-index: 100;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-shrink: 1;
  align-self: center;
  flex-basis: 20%;
  padding-bottom: 0.3rem;
}
.header-logo img {
  height: 5rem;
  width: 5rem;
}
.header-logo p {
  margin-bottom: 0;
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  color: #F2A34D;
  text-align: center;
}
.header-logo p span {
  display: inline-block;
  margin-right: -0.2rem;
}
.header-logo p .red {
  color: #E86A46;
}
.header-logo p .orange {
  color: #F2A34D;
}
.header-logo p .blue {
  color: #47C2D1;
}
.header-logo p .green {
  color: #65A754;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-navigation {
  flex-basis: 70%;
  margin-left: 10%;
}
.header-navigation nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header-navigation nav a {
  font-weight: 900;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-right: 0.3rem;
  text-decoration: none;
  color: #F6F5E2;
  padding: 1rem 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all 0.3s ease;
}
.header-navigation nav a:hover {
  padding-top: 1.5rem;
}
.header-navigation nav a:nth-of-type(1) {
  background-color: #E86A46;
}
.header-navigation nav a:nth-of-type(1):hover {
  box-shadow: 1px 1px 7px #E86A46;
}
.header-navigation nav a:nth-of-type(2) {
  background-color: #F2A34D;
}
.header-navigation nav a:nth-of-type(2):hover {
  box-shadow: 1px 1px 7px #F2A34D;
}
.header-navigation nav a:nth-of-type(3) {
  background-color: #47C2D1;
}
.header-navigation nav a:nth-of-type(3):hover {
  box-shadow: 1px 1px 7px #47C2D1;
}
.header-navigation nav a:nth-of-type(4) {
  background-color: #65A754;
}
.header-navigation nav a:nth-of-type(4):hover {
  box-shadow: 1px 1px 7px #65A754;
}
.header-navigation nav a:nth-of-type(5) {
  background-color: #c161ce;
}
.header-navigation nav a:nth-of-type(5):hover {
  box-shadow: 1px 1px 7px #c161ce;
}
.header-navigation nav a:nth-of-type(6) {
  background-color: #F8DD98;
}
.header-navigation nav a:nth-of-type(6):hover {
  box-shadow: 1px 1px 7px #F8DD98;
}
.header-mobile {
  display: none;
}
.header-mobile .burg {
  width: 3rem;
  height: 3rem;
  background-color: #F2A34D;
  position: relative;
  cursor: pointer;
}
.header-mobile .burg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.1rem;
  margin-left: -0.97rem;
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #F6F5E2;
  transition: all 0.3s ease-in-out;
  border-radius: 0.2rem;
}
.header-mobile .burg-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.1rem;
  margin-left: -0.97rem;
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #F6F5E2;
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  border-radius: 0.2rem;
}
.header-mobile .burg-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.1rem;
  margin-left: -0.97rem;
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #F6F5E2;
  transform: translateY(5px);
  transition: all 0.3s ease-in-out;
  border-radius: 0.2rem;
}
.header-mobile .burg.active .burg-icon {
  height: 0;
}
.header-mobile .burg.active .burg-icon::before {
  transform: rotate(45deg);
}
.header-mobile .burg.active .burg-icon::after {
  transform: rotate(-45deg);
}
.header-mobile-navigation {
  text-align: center;
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 20;
  top: 6rem;
  width: 100%;
}
.header-mobile-navigation a {
  padding: 0.5rem 0;
  display: block;
  width: 90%;
  margin: 0.3rem auto;
  font-weight: 900;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #F6F5E2;
  transition: all 0.3s ease;
  border-radius: 0.3rem;
}
.header-mobile-navigation a:nth-of-type(1) {
  background-color: #E86A46;
}
.header-mobile-navigation a:nth-of-type(1):hover {
  box-shadow: 1px 1px 7px #E86A46;
}
.header-mobile-navigation a:nth-of-type(2) {
  background-color: #F2A34D;
}
.header-mobile-navigation a:nth-of-type(2):hover {
  box-shadow: 1px 1px 7px #F2A34D;
}
.header-mobile-navigation a:nth-of-type(3) {
  background-color: #47C2D1;
}
.header-mobile-navigation a:nth-of-type(3):hover {
  box-shadow: 1px 1px 7px #47C2D1;
}
.header-mobile-navigation a:nth-of-type(4) {
  background-color: #65A754;
}
.header-mobile-navigation a:nth-of-type(4):hover {
  box-shadow: 1px 1px 7px #65A754;
}
.header-mobile-navigation a:nth-of-type(5) {
  background-color: #c161ce;
}
.header-mobile-navigation a:nth-of-type(5):hover {
  box-shadow: 1px 1px 7px #c161ce;
}
.header-mobile-navigation a:nth-of-type(6) {
  background-color: #F8DD98;
}
.header-mobile-navigation a:nth-of-type(6):hover {
  box-shadow: 1px 1px 7px #F8DD98;
}
.main {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  min-height: 400px;
  background: transparent;
}
.main-heading {
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: #f6d580;
  margin: 10rem auto;
  text-shadow: 5px 5px 10px #F6F5E2;
}
.main-heading span {
  display: inline-block;
  margin-right: -0.2rem;
}
.main-heading .red {
  color: #E86A46;
}
.main-heading .orange {
  color: #F2A34D;
}
.main-heading .blue {
  color: #47C2D1;
}
.main-heading .green {
  color: #65A754;
}
.main-slider {
  height: 100vh;
}
.main-slider .slick-active {
  outline: none;
}
.main-slider .arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  z-index: 10;
  outline: none;
}
.main-slider .arrow i {
  font-size: 4rem;
  color: #F6F5E2;
  transition: all 0.3s ease;
}
.main-slider .arrow i:hover {
  color: #eeecc7;
  text-shadow: 1px 1px 5px #F6F5E2;
}
.main-slider .arrow-left {
  left: 1rem;
}
.main-slider .arrow-right {
  right: 0;
}
.about {
  background: url(../img/color-bg.jpg) center top repeat;
  padding: 2rem 0;
  height: auto;
  border-top: 3px solid #FDFBEC;
  border-bottom: 3px solid #FDFBEC;
  text-align: center;
}
.about-card {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 2rem 0;
  min-height: 32rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #FEFFFF;
  box-shadow: -1px 1px 23px 4px #616161;
}
.about-card:hover h1 {
  transition: color 0.3s ease;
  color: #E86A46;
}
.about-card h1 {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #47C2D1;
  font-size: 1.5rem;
}
.about-card p {
  padding: 0 1rem;
  margin-top: 2rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.about-card .img-block {
  width: 60%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}
.about-card .img-block img {
  border-radius: 50%;
  transition: all 0.5s ease;
  padding: 0.6rem;
  background-color: #47C2D1;
}
.about-card .img-block:hover {
  box-shadow: 2px 2px 50px #E86A46;
}
.about-card .img-block:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.about-content {
  margin-top: 5px;
}
.about-content .box {
  border-top: 5px solid #E86A46;
  border-bottom: 5px solid #F2A34D;
  width: 90%;
  padding: 0.1rem;
  margin: 1rem auto;
  background-color: #FDFBEC;
  border-radius: 0.5rem;
}
.about-content .box h1 {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #E86A46;
  text-transform: uppercase;
}
.about-content .box p {
  margin-bottom: 2rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #000;
}
.about-content .content-block {
  padding: 0.5rem 1rem;
  min-height: 31rem;
  margin-bottom: 2rem;
  background-color: #FDFBEC;
  border-radius: 0.4rem;
}
.about-content .content-block h2 {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.about-content .content-block p {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}
.about-content .content-red {
  border-top: 5px solid #E86A46;
  border-bottom: 5px solid #E86A46;
}
.about-content .content-red h2 {
  color: #E86A46;
}
.about-content .content-red img {
  display: block;
  margin: 1rem 0;
  border: 5px solid #E5E3BE;
  border-radius: 0.5rem;
}
.about-content .content-orange {
  border-top: 5px solid #F2A34D;
  border-bottom: 5px solid #F2A34D;
}
.about-content .content-orange h2 {
  color: #F2A34D;
}
.about-content .content-orange ul {
  list-style: none;
}
.about-content .content-orange ul li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}
.about-content .content-orange ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #F6F5E2;
  background-color: #F2A34D;
  padding: 0.8rem;
  border-radius: 50%;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.about-content .content-orange ul li:nth-child(1)::before {
  content: '1';
}
.about-content .content-orange ul li:nth-child(2)::before {
  content: '2';
}
.about-content .content-orange ul li:nth-child(3)::before {
  content: '3';
}
.about-content .content-orange ul li:nth-child(4)::before {
  content: '4';
}
.about-content .content-blue {
  border-top: 5px solid #47C2D1;
  border-bottom: 5px solid #47C2D1;
}
.about-content .content-blue h2 {
  color: #47C2D1;
}
.about-content .content-blue ul {
  list-style: none;
}
.about-content .content-blue ul li {
  position: relative;
  padding: 0.5rem 0 0.5rem 2.5rem;
  border-bottom: 1px solid #E5E3BE;
  text-align: left;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.about-content .content-blue ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: -0.5rem;
  top: 0;
  color: #47C2D1;
  padding: 0.8rem;
  border-radius: 50%;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.about-content .content-blue ul li:nth-child(1)::before {
  content: '1.';
}
.about-content .content-blue ul li:nth-child(2)::before {
  content: '2.';
}
.about-content .content-blue ul li:nth-child(3)::before {
  content: '3.';
}
.about-content .content-blue ul li:nth-child(4)::before {
  content: '4.';
}
.about-content .content-blue ul li:nth-child(5)::before {
  content: '5.';
}
.about-content .content-blue ul li:nth-child(6)::before {
  content: '6.';
}
.about .content-btn {
  margin: 0 auto 2rem auto;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #F6F5E2;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
.about .content-btn:hover {
  transform: translateY(-5px);
}
.about .red-btn {
  background-color: #E86A46;
  box-shadow: 2px 2px 2px #E86A46;
}
.about .red-btn:hover {
  box-shadow: 2px 2px 10px #E86A46;
}
.about .orange-btn {
  background-color: #F2A34D;
  box-shadow: 2px 2px 2px #F2A34D;
}
.about .orange-btn:hover {
  box-shadow: 2px 2px 10px #F2A34D;
}
.about .blue-btn {
  background-color: #47C2D1;
  box-shadow: 2px 2px 2px #47C2D1;
}
.about .blue-btn:hover {
  box-shadow: 2px 2px 10px #47C2D1;
}
.children {
  background: #FFFFFF;
  padding: 1rem;
}
.children-block {
  text-align: center;
}
.children-block p {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.children-block .polz {
  color: #65A754;
  font-size: 1.2rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}
.children-block .polz::before {
  content: '';
  display: inline-block;
  width: 4rem;
  height: 0.1rem;
  background-color: #65A754;
  margin-right: 0.5rem;
}
.children-block .polz::after {
  content: '';
  display: inline-block;
  width: 4rem;
  height: 0.1rem;
  background-color: #65A754;
  margin-left: 0.5rem;
}
.children-heading {
  font-size: 3rem;
  color: #E86A46;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.advantages {
  padding: 2rem 0;
  background-color: #F8DD98;
  text-align: center;
  background: url(../img/advantages-bg.jpg) center top repeat;
}
.advantages-heading {
  margin: 0 0 2rem 0;
  color: #FDFBEC;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.advantages-card {
  margin-bottom: 2rem;
}
.advantages-card h2 {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
  width: 90%;
  margin: 1rem auto 0 auto;
  font-size: 1.2rem;
}
.advantages-card i {
  color: #FDFBEC;
  font-size: 5.5rem;
}
.parents {
  padding: 2rem;
  background-color: #A5E1C6;
  text-align: center;
}
.parents-heading {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}
.parents-card p {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.parents-card .line {
  display: block;
  width: 20%;
  margin: 1rem auto;
  height: 0.5px;
  background: #333;
}
.parents-card .parents-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parents-card .parents-img img {
  margin-right: 0.5rem;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid #47C2D1;
}
.parents-card .parents-img .name {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.parents .slick-active {
  outline: none;
}
.parents .arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  z-index: 10;
  outline: none;
}
.parents .arrow i {
  font-size: 4rem;
  color: #F6F5E2;
  transition: all 0.3s ease;
}
.parents .arrow i:hover {
  color: #eeecc7;
  text-shadow: 1px 1px 5px #F6F5E2;
}
.parents .arrow-right {
  right: 0;
}
.parents .arrow-left {
  left: 1rem;
}
.lessons {
  position: relative;
  padding: 2rem 0;
  text-align: center;
  background-color: #FFFFFF;
}
.lessons-heading {
  color: #E86A46;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.lessons p {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  width: 80%;
  margin: 1rem auto 6rem auto;
}
.lessons-block {
  margin-top: 3rem;
}
.lessons-block ul {
  list-style-type: none;
}
.lessons-block ul li {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #F2A34D;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}
.lessons-block .right-list {
  text-align: right;
}
.lessons-block .left-list {
  text-align: left;
}
.lessons .books {
  position: absolute;
  left: 50%;
  top: 25%;
  width: 18rem;
  height: 38rem;
  transform: translate(-50%, -7%);
}
.teachers {
  text-align: center;
  background: url(../img/advantages-bg.jpg) top center repeat;
  padding: 2rem;
}
.teachers-heading {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
}
.teachers p {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #FDFBEC;
}
.teachers-block {
  margin-bottom: 2rem;
  cursor: pointer;
}
.teachers-block:hover img {
  border-color: #E86A46;
}
.teachers-block img {
  width: 10rem;
  height: 10rem;
  border: 10px solid #FDFBEC;
  transition: all 0.3s ease;
}
.teachers-block .name {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #FDFBEC;
  margin: 1rem 0 0.5rem 0;
}
.teachers-block .subject {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
}
.contacts {
  position: relative;
  text-align: center;
  padding: 2rem;
  min-height: 20rem;
  z-index: 10;
  color: #FDFBEC;
}
.contacts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -2;
}
.contacts-heading {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
}
.contacts-heading i {
  color: #47C2D1;
}
.contacts .address-block {
  position: relative;
  border-radius: 0.4rem;
  padding: 1rem;
  min-height: 25rem;
  margin-bottom: 2rem;
}
.contacts .address-block::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FDFBEC;
  border-radius: 0.4rem;
  opacity: 0.2;
  z-index: -1;
}
.contacts .address-block .address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.contacts .address-block .address p {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.contacts .address-block .address p a {
  text-decoration: none;
  color: #333;
}
.contacts .address-block .address p a:hover {
  text-decoration: underline;
}
.contacts .address-block .address p span {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.contacts .address-block .map {
  height: 18rem;
  border-radius: 0.4rem;
}
.contacts .form-block {
  position: relative;
  z-index: 10;
  padding: 1rem;
  border-radius: 0.4rem;
  text-align: left;
  min-height: 25rem;
}
.contacts .form-block::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FDFBEC;
  border-radius: 0.4rem;
  opacity: 0.2;
  z-index: -1;
}
.contacts .form-block label {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.contacts .form-block textarea {
  display: block;
  width: 100%;
  border: 1px solid silver;
  border-radius: 0.4rem;
  color: #333;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.contacts .form-block .content-btn {
  display: inline-block;
  margin-top: 1rem;
  border: 1px solid #47C2D1;
  border-radius: 0.4rem;
  padding: 0.5rem 2rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
  background: #47C2D1;
  transition: all 0.3s ease;
}
.contacts .form-block .content-btn:hover {
  background-color: #2ea8b7;
}
.contacts .form-block .input-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-align: left;
  align-items: center;
}
.contacts .form-block .input-block div {
  flex-basis: 48%;
}
.contacts .form-block .input-block input {
  width: 100%;
  border: 1px solid silver;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  color: #333;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}
.contacts .form-block .input-block select {
  width: 100%;
  border: 1px solid silver;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  color: #333;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
footer {
  border-top: 5px solid #EADB6C;
}
footer .footer-top {
  padding: 3rem 0;
  background: url(../img/footer-bg.jpg) center center repeat;
}
footer .footer-top .red-block {
  background-color: #E86A46;
  padding: 1rem;
  border-radius: 0.4rem;
  height: 7rem;
  margin-bottom: 1rem;
}
footer .footer-top .red-block .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
footer .footer-top .red-block .footer-logo p {
  margin-bottom: 0;
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #FDFBEC;
  text-align: center;
}
footer .footer-top .red-block .footer-logo p span {
  display: inline-block;
  margin-right: -0.2rem;
}
footer .footer-top .orange-block {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
  background-color: #F2A34D;
  font-size: 1.8rem;
}
footer .footer-top .orange-block i {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2.5rem;
}
footer .footer-top .blue-block {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #FDFBEC;
  background-color: #47C2D1;
  font-size: 1.2rem;
}
footer .footer-top .blue-block i {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2.5rem;
}
footer .footer-bottom {
  padding: 1rem;
  background-color: #F2A34D;
}
footer .footer-bottom .left {
  display: flex;
  align-items: center;
  text-align: left;
  color: #FDFBEC;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  height: 3rem;
}
footer .footer-bottom .left a {
  color: #000;
  text-decoration: underline;
}
footer .footer-bottom .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}
footer .footer-bottom .right h3 {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 1.2rem;
  margin: 0;
}
footer .footer-bottom .right a {
  font-size: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
}
footer .footer-bottom .right a:hover {
  transform: translateY(-5px) scale(1.1);
}
footer .footer-bottom .right .vk {
  color: #47C2D1;
}
footer .footer-bottom .right .vk:hover {
  color: #2ea8b7;
  text-shadow: 2px 2px 10px #47C2D1;
}
footer .footer-bottom .right .inst {
  color: #E86A46;
}
footer .footer-bottom .right .inst:hover {
  color: #df471c;
  text-shadow: 2px 2px 10px #E86A46;
}
footer .footer-bottom .right .twit {
  color: #FDFBEC;
}
footer .footer-bottom .right .twit:hover {
  color: #f8f1be;
  text-shadow: 2px 2px 10px #FDFBEC;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/modal-bg.jpg);
  background-position: center center;
  background-size: cover;
  z-index: 200;
}
.about-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
  min-height: 400px;
  max-height: 100%;
  z-index: 320;
  border-radius: 0.6rem;
  text-align: center;
}
.about-modal p {
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F6F5E2;
}
.about-modal h4 {
  margin: 0.5rem 0 0 0;
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}
.about-modal h4 p {
  margin: 0;
  display: inline-block;
}
.about-modal h4 p span {
  display: inline-block;
  margin-right: -0.2rem;
}
.about-modal h4 p .red {
  color: #E86A46;
}
.about-modal h4 p .orange {
  color: #F2A34D;
}
.about-modal h4 p .blue {
  color: #47C2D1;
}
.about-modal h4 p .green {
  color: #65A754;
}
.about-modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FDFBEC;
  opacity: 0.3;
  z-index: -10;
  border-radius: 0.6rem;
}
.about-modal .modal-content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}
.about-modal .modal-content form input,
.about-modal .modal-content form label {
  cursor: pointer;
  display: block;
  width: 55%;
  margin: 0.5rem auto;
  outline: none;
}
.about-modal .modal-content form input {
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: 1px solid #47C2D1;
}
.about-modal .modal-content form label {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #47C2D1;
  font-size: 1.2rem;
}
.about-modal .modal-content form button {
  display: block;
  width: 55%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #FDFBEC;
  outline: none;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  background-color: #47C2D1;
  border: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.about-modal .modal-content form button:hover {
  background-color: #2ea8b7;
}
.about-modal .close {
  position: absolute;
  top: -2.5rem;
  right: -2rem;
  border: none;
  background: transparent;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #47C2D1;
  font-size: 3.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.about-modal .close:hover {
  transform: rotate(360deg);
}
@media screen and (max-width: 1199px) {
  .header-logo {
    flex-basis: 20%;
  }
  .header-logo p {
    font-size: 1.2rem;
  }
  .header-navigation {
    flex-basis: 80%;
    margin-left: 0;
  }
  .header-navigation nav {
    justify-content: flex-end;
  }
  .header-navigation nav a {
    padding: 1rem 1.5rem;
  }
  .about-content .content-block {
    min-height: 38rem;
  }
}
@media screen and (max-width: 1090px) {
  .header-logo {
    flex-basis: 30%;
  }
  .header-logo p {
    font-size: 1.2rem;
  }
  .header-navigation {
    flex-basis: 70%;
    margin-left: 0;
  }
  .header-navigation nav {
    justify-content: flex-end;
  }
  .header-navigation nav a {
    padding: 0.7rem 0.8rem;
  }
  .main-heading {
    font-size: 3.5rem;
    margin: 8rem auto;
  }
  .about-content .content-block {
    min-height: 37rem;
  }
  .lessons p {
    margin-bottom: 0.7rem;
  }
  .lessons .books {
    display: block;
    margin: auto;
    position: static;
    text-align: center;
    transform: translate(0);
  }
  .lessons .right-list {
    text-align: center;
  }
  .lessons .right-list li {
    margin-bottom: 2rem;
  }
  .lessons .left-list {
    text-align: center;
  }
  .lessons .left-list li {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 825px) {
  .header-logo {
    flex-basis: 70%;
  }
  .header-logo p {
    font-size: 1.4rem;
  }
  .header-navigation {
    display: none;
  }
  .header-container {
    align-items: center;
  }
  .header-mobile {
    display: flex;
    flex-basis: 30%;
  }
  .header-mobile .burg {
    margin-left: auto;
  }
  .header-mobile-navigation {
    visibility: visible;
  }
  .main-heading {
    font-size: 3rem;
  }
  .main-slider .arrow i {
    font-size: 2.5rem;
  }
  .about-content .box h1 {
    font-size: 1.2rem;
  }
  .about-content .content-block {
    min-height: 30rem;
  }
  .about-modal {
    max-width: 80%;
    margin: 0 auto;
  }
  .about-modal h4 p {
    font-size: 1.5rem;
  }
  .about-modal p {
    font-size: 1rem;
  }
  .about-modal .modal-content form input,
  .about-modal .modal-content form label {
    width: 80%;
  }
  .about-modal .modal-content form button {
    width: 80%;
  }
  .children-heading {
    font-size: 1.5rem;
  }
  .parents .arrow i {
    font-size: 2.2rem;
  }
  .lessons p {
    margin-bottom: 0.7rem;
  }
  .lessons .books {
    display: block;
    margin: auto;
    position: static;
    text-align: center;
    transform: translate(0);
  }
  .lessons .right-list {
    text-align: center;
  }
  .lessons .right-list li {
    margin-bottom: 2rem;
  }
  .lessons .left-list {
    text-align: center;
  }
  .lessons .left-list li {
    margin-bottom: 2rem;
  }
  .contacts label {
    font-size: 0.7rem;
  }
  .contacts .form-block,
  .contacts .address-block {
    min-height: auto;
  }
  footer .footer-bottom .left,
  footer .footer-bottom .right {
    justify-content: center;
  }
  footer .footer-bottom .left p {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
